.Image{
    width: 344px;
    height: 240px;
    padding: 2px;
}

.cardProduct {
   width: 350px;
   margin-right: 50px;
   margin-top: 70px;
   margin-left: 100px;
   border: 3px black solid;
   display: inline-block; 
   box-shadow: 4px 4px 20px;
} 

.card:hover{
box-shadow: 4px 4px 30px rgba(194, 102, 26, 0.7);
} 

.button{
margin-left: 3%;
margin-bottom: 3%;
font-size: 15px;
padding: 10px 13px;
background-color: rgba(223, 119, 33, 0.9);
} 

.button:hover { 
background-color: rgba(168, 86, 9, 0.637);
}

.title {
font-size: 30px;
text-align: center;
font-family:cursive;
color: rgba(223, 119, 33, 0.9)
}

.cardtext {
padding: 5px 10px;
font-family: cursive;
font-size: 17px;
}